body {
    background-color: black;
    color: #0F0;
    font-family: 'Consolas', monospace;
}

header {
    text-align: center;
}

#matrix-gif {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
}

#white-rabbit {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

#white-rabbit img {
    height: 200px;
    border-radius: 50%;
}

#white-rabbit p {
    background-color: black;
    color: white;
    position: absolute;
    top: 130px;
    left: 40%;
}

#white-rabbit:hover {
    opacity: 1 !important;
}

#messages {
    margin-left: 1em;
    list-style: none;
}

#messages li {
    padding-bottom: 0.5em;
}

#form {
    display: flex;
}

input, label {
    display: block;
}

input {
    outline: none;
    border: none;
    background-color: black;
    color: #0F0;
    padding: 1em .5em;
    display: block;
    font-size: 1.5em;
    font-family: 'Consolas', monospace;
    flex: 1;
}

label {
    display: block;
    padding: 1em .5em;
    font-size: 1.5em;
}